body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

#lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 7px;
  list-style: none;
}

#lista li{
  display: flex; 
  flex-direction: column;
}

#imgBandera {
  width: 170px;
  height: 100px;
}